h1, .logo{
    background-color:  #004B98;
}
.logo{
    width: 80px;
     
}

.etownLogo{
  margin-right: 413px;

}

.home{
  margin-left: 14%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004B98;
  height: 60px; /* Reduced height */
  display: flex;
  align-items: center; /* Center vertically */
  width: 100%;
  margin-left: auto; /* Align to the right */
}

li {
  float: left;
  font-size: 26px;
}

li a {
  display: flex; /* Allow vertical centering */
  align-items: center; /* Center vertically */
  color: white;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  height: 100%; /* Full height of the container */
}

.etownLogo a {
  padding: 0 20px; /* Adjust padding */
}

.etownLogo a:hover{
  background-color: #004B98;
}

li a:hover {
  background-color: #3DB5E6;
  text-decoration: underline;
  text-decoration-color: black;
  color: #E1261C;
  text-underline-offset: 0.1em;
}

li {
  border-right: 2px solid #0A2240;
  height: 50px;
}

li:last-child {
  border-right: none;
}
li:first-child {
  border-right: none;

}

body {
   margin: 0;
}